<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=movie.title%>-<%=title%></title>
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.jplayer.min.js"></script>
</head>
<body>
    <% var play_lines = JSON.parse(movie.play_lines)
        var firstLine = play_lines[0] ? (play_lines[0].lines[0] || {}) : {}
    %>
    <div id="container" class="container-fluid row movie-detail">
        <div class="col-lg-6">
            <a href="javascript:;" onclick="onVideoClick()">
                <div id="jquery_jplayer">
                    
                </div>
            </a>
        </div>
        <div class="col-lg-6">
            <ul>
                <% for (var i=0; i < play_lines.length; i++) { %>
                    <li>
                        <dl>
                            <dt><%=play_lines[i].lineName%></dt>
                            <% for (var k=0; k < play_lines[i].lines.length; k++) { %>
                                <dd><a href="javascript:;" onclick="onLineClick('<%=play_lines[i].lines[k].playUrl%>')"><%=play_lines[i].lines[k].name%></a></dd>
                            <% } %>
                        </dl>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <script src="//vjs.zencdn.net/5.19/video.min.js"></script>
    <script>
        var playerWidth = (window.innerWidth / 2.1)
        var myJPlayer = null
        $(document).ready(function(){
            $("#jquery_jplayer").jPlayer({
                ready: function () {
                    myJPlayer = $(this)
                    myJPlayer.jPlayer("setMedia", {
                        title: "",
                        m4v: "<%=firstLine.playUrl%>",
                        poster: "",
                    }).jPlayer("play");
                },
                swfPath: "/public/js",
                supplied: "m4v",
                size: {
                    width: playerWidth + "px",
                    height: (playerWidth / 1.77) + "px",
                },
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                remainingDuration: true,
                toggleDuration: true
            });
        });
        function onLineClick(url) {
            myJPlayer.jPlayer("setMedia", {
                title: "",
                m4v: url,
                poster: ""
            }).jPlayer("play");
        }
        function onVideoClick() {
            myJPlayer.jPlayer("play").jPlayer("fullScreen")
        }
    </script>
</body>
</html>